h1{color: #e2a22bf3;
    background-color: rgb(45, 226, 196);
    height: 50px;
    width: 50%s;}  

    p{color: blueviolet;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;}

img{width: 50%;}

#one{font-size: 40px;}


     .friend{font-size: 50px;
     background-color: rgb(39, 223, 32);}

     .two{font-style: italic;
     font-size: 20px;}

     .im {font-size: 30px;
     background-color: blueviolet;
     color: #000;}
     .im img{width: 100px;}
    {width: 200px;}

    .blog{font-size: 50px;
        border: 30px solid rgb(236, 21, 21);
    border-radius: 30px;
    
    width: 20%;
    display: inline-block;
    }